<% @pets.each do |p| %>
<div class="petCard">
  <%= link_to p.name, p %>
  <%= content_tag :p, p.animal_type.type_name %>
  <%= content_tag :p, p.breed.name %>
  <%= image_tag p.pet_pics.first.url %>
</div>
<% end %>