// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



$furevr-blue: #0f9cf4;
$furevr-green: #90d03f;
$furevr-teal:#00a688;


body {
  padding: 0;
  margin: 0;
  background-color: #EEE !important;
  min-width: 360px;
}

// .container {
//   max-width: 960px;
//   min-height: 100vh
// }

header {
  nav {
    color: white;
    font-weight: bolder;
    background-color: $furevr-blue;
    height: 128px;
    a {
      color: white;
      text-decoration: none;
      font-size: 1.25em;
    }
    
    .col-sm {
      display: flex;
      justify-content: space-evenly;
    }

    .logo {
      position: absolute;
      left: calc(50% - 82px);
      display: inline-block;
      width: 164px;
      height: 164px;
      background-image: url('https://res.cloudinary.com/ddqzfx6t8/image/upload/v1531715849/furevr-app/white_paw_print.svg');
      background-color: #4288cd;
      border-radius: 50%;
      border: 0.25em solid #c3c3ff;
      background-repeat: no-repeat;
      background-size: 60%;
      background-position: center;
    }

    .show-sm {
       padding-top: .5em;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: right;
      margin-left: auto;
      margin-right: 2em;
    }

    @media (max-width: 760px) {
      .logo {
        margin-left: 2.5em;
        position: inherit;
        left: inherit;
      }

      .hide-md {
        display: none;
      }
    }

    @media (max-width: 576px) {
      .show-md {
        display: none;
      }
      .hide-sm {
        display: none
      }
    }

    @media (min-width: 577px) {
      .show-sm {
        display: none;
      }
    }
    @media (min-width: 761px) {
      .show-md {
        display: none;
      }
    }
  }

  .slogan {
    font-size: 2em;
    background-color: $furevr-teal;
    color: white;
    text-align: center;
    line-height: 3em;
    padding-top: 1.25em;
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    background-color: $furevr-green
  }
}

.pet {
  // background-color: #00a688 !important;
  // color: white;
  a:hover {
    text-decoration: none;
  }

  .card-subtitle {
    margin-top: -1em;
  }

  .card-text {
    color: black;
  }
}

.icon {
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
  background-color: $furevr-teal;
  margin-top: .3em;
  margin-right: .5em;
  border-radius: 50%;




}

.dog {
  background-image: url('https://res.cloudinary.com/ddqzfx6t8/image/upload/v1531715849/furevr-app/dog-face.svg');
}

.cat {
  background-image: url('https://res.cloudinary.com/ddqzfx6t8/image/upload/v1531715849/furevr-app/cat-face.svg');
}


.shelter {
  background-image: url('https://res.cloudinary.com/ddqzfx6t8/image/upload/v1531789089/dog-house.svg');
}
.thumbnail {
  min-width: 200px;
  min-height: 200px;
  width: 100%;
  object-fit: cover;
}

.thumb-container {
  display: flex;
  width: 200px;
  height: 200px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.pet-show {
  background-color: $furevr-teal;
}

.full-page {
  min-height: 100vh;
}

.signup {
  max-width: 576px;
  background-color: $furevr-green;
  border-radius: .5em;
  overflow: hidden;
  color: white;
  text-align: center;


  main, nav, .slogan {
    padding: 2em;
  }
  
  nav {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    a {
      margin-left: auto;
    }
  }
  
  .slogan {
    padding-bottom: 0;
  }
}

a.cardlink {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  z-index: 1;
}

.remove {
  z-index: 2;
}

.shelter-header {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 10em;
  justify-content: center;
  align-content: center;
  img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  .card-title {
    position: absolute;
    bottom: 0px;
    padding: 0;
    margin: 0;
    color: white;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    text-align: center;
  }
}

.info, a.info {
  display: block;
  border-bottom: 1px solid $furevr-blue;
  margin: .5em 0;
}


.form {
  max-width: 576px !important;
}

.inline {
  display: inline-block;
  width: inherit;
}

.no-list {
  list-style: none;
  padding: 0;
}